body {
    margin: 2px;
    padding: 0px;
    font:normal 14px Arial, Helvetica, sans-serif;
    color:#605f5f;
    width: 450px;
    min-height: 120px;
    overflow:auto;
    overflow-x:hidden;
    background-color: #FFFFFF;
}
body a {
    text-decoration:none;
    line-height:1.8em;
    font: normal 14px Arial, Helvetica, sans-serif;
}
.field{
    width: 350px;
    height: 25px;
}
.fieldname{
    width: 100px;
    float: left;
}
.input{
    width: 250px;
    float: left;
    text-align: center;
}
.inputtext{
    width: 350px;
}
#header a:hover{
    color: #FFFFFF;
}

#header a {
    text-decoration: none;
    display: block;
    float: left;
    /*border-left: 1px solid #DDD;*/
    border-right: 1px solid white;
    padding: 3px 6px;
}

#header {
    background-color: #3D4149;
    overflow: auto;
    padding-left: 5px;
    position: relative;
}

#link{
    width: 390px;
    float: left;
}
.active{
    color: #FFFFFF;
}
.inactive{
    color: #B2B2B2;
}

#logoputio{
    float: left;
    padding-top: 3px;
    padding-right: 2px;
}

#message{
    width: 350px;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-top: 5px;
    font-size: 11px;
    text-align: left;
}

#message .good{
    color: green;
}

#message .error{
    color: red;
}

#spinner{
    text-align: left;
    padding-top: 5px;
    font-size: 11px;
    text-align: center;
    float: left;
}

.file_icon{
    width: 16px;
}

#root a{
    color: #605F5F;
    font-size: 12px;
}

#root a:hover{
    text-decoration: underline;
}

.item{
    float: left;
    margin-bottom: 5px;
}
.dirtitle{
    float: left;
    width: 385px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.folder{
    float: left;
    width: 385px;
}

.files{
    float: left;
    width: 385px;
}

.edit{
    float: left;
    width:50px;
    text-align: right;
}

.edit_transfert{
    width: 435px;
    position: absolute;
    text-align: right;
}

#popup{
    background-color: #ECECEC;
    position: absolute;
    opacity: 0.9;
    width: 430px;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    z-index: 10;
}

#text_popup{
    width:420px;
    float: left;
}

#input_popup{
    width:380px;
    float: left;
    text-align: center;
}

#input_value{
    width:370px;
}
#folder_id{
    width:250px;
}
#valid_popup{
    width:25px;
    float: left;
}
#close_popup{
    text-align: right;
    padding: 5px;
}

#content_popup{
    margin-left: 10px;
}

.download{
    width: 435px;
    background-color: #ECECEC;
    height: 25px;
    float: left;
    border-bottom: solid #605F5F 1px;
}

.percent_done{
    background-color: #ECF9AE;
    height: 25px;
    float: left;
}

.download_info{
    position: absolute;
    float: left;
    font-size: 10px;
}

#info_name{
    width: 200px;
    float: left;
}
#info_data{
    width: 200px;
    float: left;
}

.info{
    font-size: 11px;
    margin-bottom: 5px;
}

#messages_list a{
    font-size: 12px;
}
#messages_list{
    font-size: 12px;
    width: 435px;
}

.message{
    border-bottom: 1px dotted #CCC;
    padding: 5px;
}

#search_query{
    width: 400px;
}